@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Bold.woff2") format("woff2"), url("font/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Light.woff2") format("woff2"), url("font/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Black.woff2") format("woff2"), url("font/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Medium.woff2") format("woff2"), url("font/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Thin.woff2") format("woff2"), url("font/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Regular.woff2") format("woff2"), url("font/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  top: 51px;
}
.header .menu-bar {
  width: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  z-index: 30;
}
.header .menu-bar span {
  width: 34px;
  height: 5px;
  background: #fff;
  display: block;
}
.header .menu-bar span:last-child {
  margin-left: 6px;
}

.home-banner {
  background: url(./images/home-banner.png) no-repeat;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  padding: 50px;
  padding-top: 194px;
  display: flex;
  align-items: center;
  position: relative;
}
.home-banner::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner-content {
  padding: 113px 200px;
  padding-right: 0;
  position: relative;
  z-index: 2;
}
.banner-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 554px solid #000;
  border-right: 277px solid transparent;
  max-width: 650px;
  width: 100%;
  opacity: 0.8;
  z-index: -1;
}
.banner-content h1 {
  font-size: 90px;
  color: #fff;
  letter-spacing: 5.4px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 109px;
  max-width: 900px;
  width: 100%;
}

.arrow-button {
  position: absolute;
  bottom: 80px;
  right: 80px;
}
.arrow-button .button {
  background: transparent;
  box-shadow: none;
  border: none;
}

.menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.menu.showInput {
  z-index: 20;
}
.menu.showInput span {
  height: 100vh;
}
.menu.showInput .menu-item {
  bottom: 50%;
  transform: translateY(50%);
}
.menu span {
  width: 100%;
  height: 0;
  background: #000;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.menu .menu-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 10;
  position: absolute;
  bottom: -100%;
  left: 30px;
  transition: all 0.9s ease-in-out;
}
.menu .menu-item a {
  font-size: 40px;
  color: #fff;
  text-decoration: none;
  transition: all 0.9s ease-in-out;
  transition-delay: calc(0.1 * var(--i));
}
.menu .close-bar {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
  cursor: pointer;
}
.menu .close-bar::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 3px;
  height: 40px;
  transform: rotate(45deg);
  background: #fff;
  margin-left: 20px;
  margin-top: 2px;
}
.menu .close-bar::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 3px;
  height: 40px;
  transform: rotate(-45deg);
  background: #fff;
  margin-left: 20px;
  margin-top: 2px;
}

@media (max-width: 1400px) {
  .banner-content h1 {
    font-size: 60px;
    line-height: 70px;
  }
  .banner-content {
    padding: 50px;
  }
  .banner-content::after {
    border-top: 300px solid #000;
    border-right: 150px solid transparent;
    max-width: 400px;
  }
}
@media (max-width: 1024px) {
  .header {
    padding: 20px;
    top: 20px;
  }
  .home-banner {
    padding: 20px;
    padding-top: 194px;
  }
  .banner-content h1 {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
  .banner-content {
    padding: 0;
  }
  .banner-content::after {
    display: none;
  }
  .arrow-button {
    bottom: 30px;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=style.css.map */